#content, #languagebar, #header {
    max-width: 100%;
    padding: 0 40px;
}

#content, #footer {
    padding: 0;
}

h1, h2, h3 {
  padding: 0 40px;
}

table{
    text-align: center;
}

#wrap {
    max-width: 100%;
}

#loginsDashboard {
    height: 300px;
}

#line_div {
    height: 260px;
}

#control_div {
    height: 40px;
}

#dateSelector label{
    font-weight: normal;
}

#summaryIdp {
    padding-bottom: 20px;
}

.tabset_tabs {
    padding-left: 20px;
}

.timeRange {
    padding-left: 40px;
}

.legend-logins {
    padding-left: 40px;
}

.legend {
    padding-left: 40px;
    padding-bottom: 20px;
}

.go-to-stats-btn {
    padding-left: 40px;
}

.table {
    height: 450px;
}

.pieChart {
    height: 450px;
}